@media screen and (max-width: 1025px) {
    
    /* NAVBAR */
        .home {
        margin-left: 10px;
        margin-top: 20px;
        }

        .about {
        margin-top: 20px;
        }

        .bisnis {
        margin-top: 20px;
        }

        .media {
        margin-top: 20px;
        
        }

        .button-primary {
        margin-top: 20px;
        }

    /* ABOUT SECTION */
        .ab-tagline h1 {
        font-size: 40px;
        margin-left: 100px;
        margin-bottom: 20px;
        }
    
        .sub-title {
        font-size: 20px;
        }
    
        .about-logo {
        margin-top: 150px;
        height: auto;
        width: 70%;
        margin-left: 30px;
        }
    
    /* OUR BUSINESS SECTION */
        .ob h2 {
        font-size: 42px;
    
        }
    
    
    /* OUR MEDIA SECTION  */
        .om h3 {
            font-size: 42px;
            margin-bottom: 30px;
    
        }
    
    /*  CONTACT SECTION */
        .ctc h6 {
            font-size: 42px;
        }
        
        .kotak-kiri {
            height: 200px
        }
    
        .kotak-kanan {
            height: 200px;
        }
    
        .form {
            padding-left: 120px;
            margin-top: 50px;
        
        }
    
        .form-control {
            height: 50px;
            width: 75%;
        }
    
        .map {
            margin-top: 50px;
        }
    
        .twt {
           margin-left: -120px;
        }
    
        .ig {
            margin-left: -120px;
        }
    
        .ytb {
            margin-left: -120px;
        }
    
        .Go-Up {
            margin-left: -120px;
        }

        .About-MP {
            font-size: 14px;
        }

        .OB-FT {
            font-size: 14px;
            
        }

        .OM-FT {
            font-size: 14px;
        }
        
    }

    
    
    
    @media screen and (max-width: 769px) {
    
    /* Navbar */
        .mp-kecil {
            height: 50px;
        }
    
        
        
    /* ABOUT SECTION */
        .ab-tagline h1 {
        font-size: 40px;
        margin-left: 50px;
        margin-bottom: 20px;
        }
    
        .sub-title {
        font-size: 16px;
        }
    
        .about-logo {
        margin-top: 170px;
        height: 50px;
        }
    
    /* OUR BUSINESS SECTION */
        .ob h2 {
            font-size: 42px;
            
        }
    
    
    /* OUR MEDIA SECTION  */
        .om h3 {
            font-size: 42px;
            margin-bottom: 30px;
        }

        .button-slider {
            width: 50%;
            margin-left: 180px;
         }
    
    /*  CONTACT SECTION */
        .ctc h6 {
            font-size: 40px;
        }
        
        .kotak-kiri {
            height: 150px ;
        }
    
        .kotak-kanan {
            height: 120px;
        }
    
        .form {
            padding-left: 15px;
            margin-top: 50px;
    
        
        }
    
        .form-control {
            height: 40px;
            width: 300px;
        }
    
        .map {
            margin-top: 50px;
            width: 90%;
            margin-left: 30px;
        }
    
        .fb {
            height: 77px;
        }
    
        .twt {
           margin-left: -170px;
           height: 70px;
        }
    
        .ig {
            margin-left: -250px;
            height: 75px;
        }
    
        .ytb {
            margin-left: -350px;
            height: 70px;
        }
    
        .Go-Up {
            margin-left: -180px;
        }
    
            
        
        .email-img {
        width: 49px;
        height: 54px;
        margin-top: 15px;
        margin-left: 20px;
        }

    /* Footer Section */
        .footer-logo {
            width: 75%;
            height: auto;
        }

        .About-MP {
            font-size: 14px;
        }
        
        .OB-FT {
            font-size: 14px
        }

        .OM-FT {
            font-size: 14px;
        }
    }
    
    @media screen and (max-width: 737px) {
        
    /* Navbar */
         .navbar {
            border-bottom: 7px solid red;
            height: auto;
          }
    
        .mp-navbar {
            height: auto;
            width: 170px;
        }
    
        .mp-kecil {
            height: 50px;
        }
        
        .navbar {
            height: auto;
        }

        .home {
            font-size: 14px;
            margin-bottom: -20px;

        }

        .about {
            font-size: 14px;
            margin-bottom: -20px;
        }

        .bisnis {
            font-size: 14px;
            margin-bottom: -20px;

        }

        .media {
            font-size: 14px;
            margin-bottom: -10px;
        }

        .button-primary {
            height: auto;
            width: 150px;
            
        }

        .CONTACT {
            font-size: 14px;
        }


    /* ABOUT SECTION */
        .ab-tagline h1 {
        font-size: 32px;
        margin-left: 50px;
        margin-bottom: 20px;
        margin-top: -0px;
        }
    
        .sub-title {
        font-size: 15px;
        }
    
        .about-logo {
        margin-top: 150px;
        height: auto;
        margin-left: -50px;
        }

    
    /* OUR BUSINESS SECTION */
        .ob h2 {
            font-size: 32px;
            
        }
    
    
    /* OUR MEDIA SECTION  */
        .om h3 {
            font-size: 32px;
            margin-bottom: 30px;
        }
    
        .button-slider {
            width: 50%;
            height: auto;
            margin-left: 140px;
        }
    
    /*  CONTACT SECTION */
        .ctc h6 {
            font-size: 32px;
        }
        
        .kotak-kiri {
            height: 150px ;
        }
    
        .kotak-kanan {
            height: 120px;
        }
    
        .form {
            padding-left: 15px;
            margin-top: -15px;
            
        
        
        }
    
        .form-control {
            height: 10px;
            width: 400px;
            margin-left: 50px;
        }
    
        .pertanyaan {
            margin-left: 50px;
        }
    
        .button-submit {
            margin-left: 180px;
        }
    
        .map {
            margin-top: 20px;
            width: 75%;
            margin-left: 60px;
        }
    
        .fb {
            display: none;
            
        }
    
        .twt {
           display: none;
        }
    
        .ig {
            display: none;
        }
    
        .ytb {
           
            display: none;
        }


    /* Footer Section */
    
        .Adress {

            text-align: center;
        }

        .Footer-title {
            margin-left: 140px;
        }
    

        .About-MP {
            margin-left: 50px;
        }

        .footer-logo {
            width: 75%;
            height: auto;
            margin-left: 60px;
        }

        .Kotak-ft {
            height: 80px;
            width: 250px;
            margin-left: -130px;
        }
    
        .Kotak-ft2 {
            height: 80px;
            width: 250px;       
            margin-left: -130px;
        }

        .Kontak-kami {
            font-size: 18px;
            color: red ;
            margin-left: 20px;
            margin-top: 10px;
        }

          .NoTelp {
            font-size: 16px;
            margin-left: 30px;
        }
    
          .email {
            font-size: 12px;
            margin-left: 10px;
        }
    
          .email-img {
            width: 49px;
            height: 54px;
            margin-top: 15px;
            margin-left: 20px;
        }

        .Go-Up {
            margin-left: -250px;
            font-size: 12px;
        }

        .copyright {
            font-size: 12px;
        }

        }
        
            
            
       


    @media screen and (max-width: 415px) {

    /* Navbar */
        
        .navbar {
        border-bottom: 7px solid red;
          
        }
    
        .mp-navbar {
            height: 30px;
            width: 170px;
        }
    
        .mp-kecil {
            height: 30px;

        }

        .navbar {
            height: auto;
        }

    /* CAROUSEL */
        
        
    /* ABOUT SECTION */
        .ab-tagline h1 {
        font-size: 24px;
        margin-left: 30px;
        margin-bottom: 18px;
        margin-top: -0px;
        }
    
        .sub-title {
        font-size: 15px;
        }
    
        .about-logo {
        margin-top: 150px;
        height: 25px;
        margin-left: 10px;
        }
        
        .button-secondary {
            width: 170px;
            font-size: 14px;
        }
    
        .CONTACT  {
        font-size: 14px;
        }


    
    /* OUR BUSINESS SECTION */
        .ob h2 {
            font-size: 24px;
            
        }
    
    
    /* OUR MEDIA SECTION  */
        .om h3 {
            font-size: 24px;
            margin-bottom: 30px;
        }

        .button-slider {
            width: 50%;
            height: auto;
            margin-left: 100px;
        }
    
    /*  CONTACT SECTION */
        .ctc h6 {
            font-size: 24px;
        }
        
        .kotak-kiri {
            height: 150px ;
        }
    
        .kotak-kanan {
            height: 120px;
        }
    
        .form {
            padding-left: 15px;
            margin-top: -15px;
            
    
        
        }
    
        .form-control {
            height: 10px;
            width: 300px;
            margin-left: 20px;
        }
    
        .pertanyaan {
            margin-left: 20px;
        }
    
        .button-submit {
            margin-left: 110px;
        }
    
        .map {
            margin-top: 20px;
            width: 80%;
            margin-left: 40px;
        }
    
        .fb {
            height: 60px;
            margin-left: 10px;
        }
    
        .twt {
           margin-left: -100px;
           height: 50px;
           
        }
    
        .ig {
            margin-left: -260px;
            height: 60px;
        }
    
        .ytb {
            margin-left: -270px;
            height: 50px;
        }
    
        .Go-Up {
            margin-left: -180px;
        }
    
        .email-img {
        width: 49px;
        height: 54px;
        margin-top: 15px;
        margin-left: 20px;

        }
    
    /* Footer */
    
        .footer-logo {
            width: 300px;
            margin-left: 30px;
            height: 55px;
        }
    
        .Footer-title {
            margin-left: 80px;
        }
    
        .About-MP {
            font-size: 12px;
            margin-left: 5px;
        }
    
        .OB-FT {
            font-size: 12px;
        }
    
        .OM-FT {
            font-size: 12px;
        }
    
        .Kotak-ft {
            height: 80px;
            width: 250px;
            margin-left: -130px;
        }
    
        .Kotak-ft2 {
            height: 80px;
            width: 250px;   
            margin-left: -130px;
        }
    
        .Kontak-kami {
            font-size: 18px;
            color: red ;
            margin-left: 20px;
            margin-top: 10px;
        }
        
        .NoTelp {
            font-size: 16px;
            margin-left: 30px;
        }
    
        .email {
            font-size: 12px;
            margin-left: 10px;
        }
    
        .email-img {
        width: 49px;
        height: 54px;
        margin-top: 15px;
        margin-left: 20px;
        }
    
        .Mesus {
        font-size: 18px;
        color: red ;
        margin-left: 20px;
        margin-top: 10px;
        }
    
    
        .Go-Up {
        margin-right: 120px;
        font-size: 14px;
        }

      .copyright {
        font-size: 14px;
        }
    
    }
    
    @media screen and (max-width: 376px) {

    /* Navbar */
        .navbar {
            border-bottom: 7px solid red;
            height:auto;
        }
    
        .mp-navbar {
            height: 30px;
            width: 170px;
        }
    
        .mp-kecil {
            height: 30px;
        }
        
    /* ABOUT SECTION */
        .ab-tagline h1 {
        font-size: 22px;
        margin-left: 30px;
        margin-bottom: 18px;
        margin-top: -0px;
        }
    
        .sub-title {
        font-size: 12px;
        }
    
        .about-logo {
        margin-top: 150px;
        height: auto;
        margin-left: -5px;
        }
        .button-secondary {
        margin-top: 20px;
        margin-left: 10px;
        width: 150px;
        height: 40px;
        font-size: 14px;
    
        background: #FFFFFF;
        border: 1px solid #EE3A3A;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        }   
    
    
    /* OUR BUSINESS SECTION */
        .ob h2 {
            font-size: 24px;
            
        }
    
    
    /* OUR MEDIA SECTION  */
        .om h3 {
            font-size: 24px;
            margin-bottom: 30px;
        }

        .button-slider {
            width: 50%;
            height: auto;
            margin-left: 90px;
         }
    
    /*  CONTACT SECTION */
        .ctc h6 {
            font-size: 24px;
        }
        
        .kotak-kiri {
            height: 150px ;
        }
    
        .kotak-kanan {
            height: 120px;
        }
    
        .form {
            padding-left: 15px;
            margin-top: -15px;
            
    
        
        }
    
        .form-control {
            height: 10px;
            width: 300px;
            margin-left: 5px;
        }
    
        .pertanyaan {
            margin-left: 5px;
        }
    
        .button-submit {
            margin-left: 80px;
        }
    
        .map {
            margin-top: 20px;
            width: 75%;
            margin-left: 40px;
        }
    
        .fb {
            height: 60px;
            margin-left: -50px;
        }
    
        .twt {
           margin-left: -200px;
           height: 50px;
           
        }
    
        .ig {
            margin-left: -320px;
            height: 60px;
        }
    
        .ytb {
            margin-left: auto;
            height: 50px;
        }
    
        .Go-Up {
            margin-left: -180px;
        }
    
            
            
        .email-img {
        width: 49px;
        height: 54px;
        margin-top: 15px;
        margin-left: 20px;
        
        }
    
    /* Footer */
    
    .footer-logo {
        width: 75%;
        margin-left: 40px;
        height: auto;
    }
    
    .Footer-title {
        margin-left: 60px;
    }
    
    .About-MP {
        font-size: 12px;
    }
    
    .OB-FT {
        font-size: 12px;
    }
    
    .OM-FT {
        font-size: 12px;
    }
    
    .Kotak-ft {
        height: 80px;
        width: 250px;
        margin-left: -130px;
    }
    
    .Kotak-ft2 {
        height: 80px;
        width: 250px;   
        margin-left: -130px;
    }
    
    .Kontak-kami {
        font-size: 18px;
        color: red ;
        margin-left: 20px;
        margin-top: 10px;
    }
    
      .NoTelp {
        font-size: 16px;
        margin-left: 30px;
    }
    
      .email {
        font-size: 12px;
        margin-left: 10px;
    }
    
      .email-img {
        width: 49px;
        height: 54px;
        margin-top: 15px;
        margin-left: 20px;
    }
    
        .Mesus {
        font-size: 18px;
        color: red ;
        margin-left: 20px;
        margin-top: 10px;
    }
    
    
    .Go-Up {
        margin-right: 130px;
        font-size: 14px;
    }

    .copyright {
        font-size: 14px;
    }
    
    }









                                /* RESPONSIVE FOR LANDING PAGE READMORE */              

@media screen and (max-width: 1025px){

/* About Section */
    
    .ABMP {
        font-size: 34px;
    }

    .Sub-abmp {
        font-size: 20px ;
    }
    

}

@media screen and (max-width: 737px) {

/* About Section */

    .ABMP {
        font-size: 24px;
    }

    .Sub-abmp {
        font-size: 18px;
    }

/* Footer Section */

    .Adress {
        text-align: center;
    }

}

@media screen and (max-width: 415px) {


    /* Button Section */

        .button-ab {
            height: auto;
            width: 120px;
            margin-right: 5px;
        }

        .button-po {
            height: auto;
            width: 120px;
            margin-left: 5px;
        }

        .button-aw {
            height: auto;
            width: 120px;
            margin-top: 10px;
        }


    /* About Section */
    
        .ABMP {
            font-size: 22px;
        }
    
        .Sub-abmp {
            font-size: 16px;
        }
    
    }


@media screen and (max-width: 415px) {


    /* Button Section */
    
            .button-ab {
                height: auto;
                width: 120px;
                margin-right: 5px;
            }
    
            .button-po {
                height: auto;
                width: 120px;
                margin-left: 5px;
            }
    
            .button-aw {
                height: auto;
                width: 120px;
                margin-top: 10px;
            }
    
    
    /* About Section */
        
            .ABMP {
                font-size: 22px;
            }
        
            .Sub-abmp {
                font-size: 16px;
            }
        
        }



                                /* RESPONSIVE FOR OUR MEDIA LANDING PAGE */


    
@media screen and (max-width: 1025px){

        .MPMEDIA {
            margin-left: -50px;
        }

        .KABAROTOMEDIA {
            margin-right: -50px;
        }

        .BOLASKORMEDIA {
            margin-left: -50px;
        }

        .SIDEMEDIA {
            margin-right: -50px;
        }

        .KAMIBIJAKMEDIA {
            margin-left: -50px;
        }

    }

@media screen and (max-width: 769px) {
    .MPMEDIA {
        width: 500px;
        height: auto;
        margin-left: 10px;
    }

    .KABAROTOMEDIA {
        width: 500px;
        height: auto;
        margin-top: -60px;
        margin-right: 10px;
    }

    .BOLASKORMEDIA {
        width: 500px;
        height: auto;
        margin-top: -77px;
        margin-left: 10px;
    }

    .SIDEMEDIA {
        width: 500px;
        height: auto;
        margin-top: -75px;
        margin-right: 10px;
    }

    .KAMIBIJAKMEDIA {
        width: 500px;
        height: auto;
        margin-top: -85px;
        margin-left: 10px;
    }
}


@media screen and (max-width: 737px) {
    .MPMEDIA {
        width: 500px;
        height: auto;
        margin-left: -90px;
    }

    .KABAROTOMEDIA {
        width: 500px;
        height: auto;
        margin-top: -60px;
        margin-right: -90px;
    }

    .BOLASKORMEDIA {
        width: 500px;
        height: auto;
        margin-top: -77px;
        margin-left: -90px;  
    }

    .SIDEMEDIA {
        width: 500px;
        height: auto;
        margin-top: -75px;
        margin-right: -90px;
    }

    .KAMIBIJAKMEDIA {
        width: 500px;
        height: auto;
        margin-top: -85px;
        margin-left: -90px;
    }
}


@media screen and (max-width: 415px) {

    .merah {
        width: 300px;
        height: auto;
    }


    .MPMEDIA {
        width: 300px;
        height: auto;
        margin-left: -10px;
    }

    .KABAROTOMEDIA {
        width: 300px;
        height: auto;
        margin-top: -30px;
        margin-right: -10px;
    }

    .BOLASKORMEDIA {
        width: 300px;
        height: auto;
        margin-top: -42px;
        margin-left: -5px;  
    }

    .SIDEMEDIA {
        width: 300px;
        height: auto;
        margin-top: -42px;
        margin-right: -5px;
    }

    .KAMIBIJAKMEDIA {
        width: 300px;
        height: auto;
        margin-top: -48px;
        margin-left: -5px;
    }
}

@media screen and (max-width: 376px) {

    .merah {
        width: 300px;
        height: auto;
    }


    .MPMEDIA {
        width: 300px;
        height: auto;
        margin-left: -30px;
    }

    .KABAROTOMEDIA {
        width: 300px;
        height: auto;
        margin-top: -30px;
        margin-right: -30px;
    }

    .BOLASKORMEDIA {
        width: 300px;
        height: auto;
        margin-top: -42px;
        margin-left: -25px;  
    }

    .SIDEMEDIA {
        width: 300px;
        height: auto;
        margin-top: -42px;
        margin-right: -25px;
    }

    .KAMIBIJAKMEDIA {
        width: 300px;
        height: auto;
        margin-top: -48px;
        margin-left: -25px;
    }

}


                    /* MINING HTML */


@media screen and (max-width: 769px) {
    .mining1 {
        width: 350px;
        height: auto;

    }

    .mining2 {
        width: 350px;
        height: auto;

    }

    .MP-KECIL-MINING {
        width: 60px;
        height: auto;
        
    }

    .mining-title {
        margin-top: 10px;
    }
}


@media screen and (max-width: 737px) {

    #MINING {
       margin-top: -15px;
    }
    
    .mining1 {
        width: 300px;
        height: auto;
        margin-left: -100px;

    }

    .mining2 {
        width: 300px;
        height: auto;
        margin-left: 10px;
    }

    .MP-KECIL-MINING {
        width: 60px;
        height: auto;
        
    }

    .mining-title {
        margin-top: 10px;
    }

    .PTJAGAT {
        margin-left: -100px;
    }

    .PTJAGAT2 {
        margin-right: -100px;
    }
}

@media screen and (max-width: 668px) {
    .mining1 {
        width: 200px;
        height: auto;
       margin-left: 5px;

    }

    .mining2 {
        width: 200px;
        height: auto;
        margin-left: -10px;
       
    }

    .MP-KECIL-MINING {
        width: 60px;
        height: auto;
        
    }

    .mining-title {
        margin-top: 10px;
    }

    .PTJAGAT {
       font-size: 14px;
       margin-left: 10px;
    }

    .PTJAGAT2 {
        font-size: 14px;
       margin-right: 10px;
    }
}


@media screen and (max-width: 415px) {
    .mining1 {
        width: 180px;
        height: auto;
       margin-left: 5px;

    }

    .mining2 {
        width: 180px;
        height: auto;
        margin-left: -10px;
       
    }

    .MP-KECIL-MINING {
        width: 30px;
        height: auto;
        
    }

    .mining-title {
        margin-top: 10px;
        font-size: 32px;
    }

    .PTJAGAT {
       font-size: 12px;
       margin-left: 10px;
    }

    .PTJAGAT2 {
        font-size: 12px;
       margin-right: 10px;
    }
}

@media screen and (max-width: 376px) {

    .MINING {
        margin-top: -200px;
    }

    
    .mining1 {
        width: 150px;
        height: auto;
       margin-left: 5px;

    }

    .mining2 {
        width: 150px;
        height: auto;
        margin-left: -10px;
       
    }

    .MP-KECIL-MINING {
        width: 30px;
        height: auto;
        
    }

    .mining-title {
        margin-top: 10px;
        font-size: 32px;
    }

    .PTJAGAT {
       font-size: 12px;
       margin-left: 10px;
    }

    .PTJAGAT2 {
        font-size: 12px;
       margin-right: 10px;
    }
}



                        /* FOR JHL MINING RESPONSIVE */

                        

@media screen and (max-width: 737px) {

    .Mining-text {
      font-size: 14px;  
      margin-top: 20px;
      margin-left: -40px;
    }

    .table {
        font-size: 16px;
        margin-left: -70px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 415px) {

    .JHLMINING1 {
        width: 200px;
        height: auto;

    }

    .foto-tanah {
        width: 350px;
    }

    .Mining-text {
        font-size: 14px;

    }

    .table {
        margin-left: 20px;
    }
}

